@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 800;
	font-style: normal;
	src: url('/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: italic;
	src: url('/fonts/Poppins-BlackItalic.ttf');
}

:root {
	--background: beige;
	--foreground: #555;
	--h1-size: 36px;
	--h2-size: 16px;
	--stat-size: 17px;
	--stat-foreground: #777;
	--game-over-size: 22px;
	--body-size: 18px;
	--controls-gap: 50px;
	--game-gap: 20px;
}

@media (min-width: 600px) {
	
	:root {
		--h2-size: 16px;
		--stat-size: 22px;
	}
	
}

* {
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-modify: none;
	-webkit-highlight: none;
	user-select: none;
	touch-action: none;
}

html {
	height: 100svh;
}

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
	color: var(--foreground);
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: background-color 0.5s, color 0.5s;
	font-size: var(--body-size);
	font-weight: 700;
	line-height: 1.4;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.wordy {
		align-items: center;
	}
}

main {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	line-height: 1.2;
	font-size: 18px;
	color: black;
}

h1 {
	font-size: var(--h1-size);
	font-style: italic;
	font-weight: 900;
	line-height: 1;
}

h2 {
	font-size: var(--h2-size);
	font-weight: 700;
}

canvas {
	display: block;
	pointer-events: none;
}

.hexblox {
	display: flex;
	flex-direction: column;
	gap: var(--game-gap);
	padding-top: var(--game-top-padding);
}

.board {
	position: relative;
	background-color: white;
	border: 2px solid white;
}

.game-over {
	position: absolute;
	inset: -2px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	transition: all 0.2s;
	backdrop-filter: blur(5px);
	background-image: linear-gradient(rgba(255,255,255,0.25), white, rgba(255, 255, 255, 0.25));

	.game-over-body {
		display: flex;
		flex-direction: column;
		gap: 30px;
		text-shadow: 0 0 10px white;
		line-height: 1;
	}

	.score {
		font-size: 50px;
		font-weight: 600;
		padding-bottom: 10px;
	}

	.best {
		font-size: 20px;
	}

	.continue {
		font-size: 18px;
	}

	&[data-active="false"] {
		opacity: 0;
		pointer-events: none;
	}

}

.stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.stats-top {
	display: flex;
	gap: var(--controls-gap);
	justify-content: space-between;
	align-items: center;
}

.upnext {
	border-radius: 2px;
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 0.75;
}

.stat {
	font-size: var(--stat-size);
	color: var(--stat-foreground);
	display: flex;
	flex-direction: column-reverse;
}

.makers {
	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.brick-maker {
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	border: solid 1px black;
}

.brick-maker-bit {
	background-color: white;
	&[data-active="Y"] {
		background-color: var(--color);
	}
}
