@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: italic;
	src: url('../assets/fonts/Poppins-BlackItalic.ttf');
}

:root {
	--background: floralwhite;
	--foreground: rgb(100, 100, 100);
	--h1-size: 36px;
	--h2-size: 16px;
	--stat-size: 17px;
	--stat-foreground: rgb(130, 130, 130);
	--game-over-size: 22px;
	--body-size: 14px;
	--controls-gap: 50px;
	--game-gap: 20px;
	--glass: rgba(255, 255, 255, 0.75);
}

@media (min-width: 600px) {
	
	:root {
		--h2-size: 16px;
		--stat-size: 22px;
		--body-size: 16px;
	}
	
}

* {
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-modify: none;
	-webkit-highlight: none;
	user-select: none;
	touch-action: none;
}

html {
	overflow: hidden;
	height: 100vh;
}

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
	color: var(--foreground);
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-image: radial-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0));
	transition: background-color 0.5s, color 0.5s;
	font-size: var(--body-size);
	line-height: 1.4;
	font-weight: 700;
	&.wordy {
		align-items: center;
	}
}

main {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	line-height: 1.2;
	font-size: 18px;
	color: black;
}

h1 {
	font-size: var(--h1-size);
	font-style: italic;
	font-weight: 900;
}

h2 {
	font-size: var(--h2-size);
	font-weight: 700;
}

canvas {
	display: block;
	pointer-events: none;
}

.board {
	position: relative;
	background-color: white;
	border: 2px solid white;
}

.tetris {
	display: flex;
	flex-direction: column;
	gap: var(--game-gap);
	padding-top: var(--game-top-padding);
}

.game-over {
	position: absolute;
	inset: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: var(--glass);
	backdrop-filter: blur(4px);
	transition: background-color 0.5s;

	.game-over-body {
		font-size: var(--game-over-size);
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.continue {
		font-size: 80%;
	}

}

.game-over[data-active="false"] {
	display: none;
}

.stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.stats-top {
	display: flex;
	gap: var(--controls-gap);
	justify-content: space-between;
	align-items: center;
}

.upnext {
	border-radius: 2px;
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 0.75;
}

.stat {
	font-size: var(--stat-size);
	color: var(--stat-foreground);
	display: flex;
	flex-direction: column-reverse;
}
